@import '../base/constants'

.cs-ad
  text-align center
  overflow hidden

.cs-ad-top
  margin-top -0.5rem
  margin-bottom 1rem

.cs-ad-middle
  margin-top 1rem
  margin-bottom 1rem

.cs-ad-right
  margin-bottom 1rem

.cs-ad-side
  position fixed
  display none

  @media (min-width: 1800px)
    display block

.cs-ad-side-left
  left 0

.cs-ad-side-right
  right 0
