@import '../base/constants'

.cs-filter
  margin-bottom 1rem

.cs-filter-check
  font-size 0.75rem
  text-align center

  // @media (min-width: Breakpoints.SM)
  //   float right
  //   text-align unset

  label
    margin-bottom 0

  input[type=checkbox]
    margin-right 0.5rem
