@import '../base/constants'

.cs-footer
  padding-bottom 1.5rem

  h4
    text-transform uppercase
    margin-bottom 0

  hr
    margin-bottom 1.5rem

  ul
    font-size 0.875rem
    line-height 1.75

.cs-footer-links
  margin-bottom 1.5rem

  @media (min-width: Breakpoints.LG)
    margin-bottom 0

  a
    color: Colors.MONSOON

  a:active
    color inherit

  a:hover
    color inherit

.cs-footer-social
  a
    color #999
    margin-right: 0.75rem

  a:hover
    color inherit
