@import '../base/constants'

.cs-matchups-list
  margin-bottom 0.5rem
  text-transform none

.cs-matchup-link
  display table
  color inherit
  text-decoration none

  &:hover
    color inherit
    text-decoration none

.cs-matchup-item
  background-color: Colors.BLACK_HAZE
  padding 0.5rem
  margin-top 0
  margin-bottom 0.5rem

.cs-matchup-item-name
  margin-bottom 0

.cs-matchup-item-score
  margin-bottom 0
  float right

.cs-matchup-item-votes-non-active
  cursor pointer

.cs-matchup-item-votes-active
  cursor default

.cs-matchup-title
  margin-bottom 0.625rem
