@import './constants'

.cs-bg-general
  background-color: Colors.TRUE_BLUE

.cs-bg-top
  background-color: Colors.CASABLANCA

.cs-bg-middle
  background-color: Colors.MALIBU

.cs-bg-bottom
  background-color: lighten(Colors.TACHA, 10%)

.cs-bg-jungle
  background-color: darken(Colors.CARIBBEAN_GREEN, 5%)
