// TODO: use rems
Breakpoints = {
  XS: 0,
  SM: 544px,
  MD: 768px,
  LG: 992px,
  XL: 1200px
}

Colors = {
  // example: light gray nav bar background
  BLACK_HAZE: #f7f7f9,

  // example: aqua green jungle label
  CARIBBEAN_GREEN: #11ebad,

  // example: orange top label
  CASABLANCA: #f0ad4e,

  // example: green upvote
  FERN: #5cb85c,

  // example: turquoise mid label
  MALIBU: #5bc0de,

  // example: gray standard text
  MONSOON: #777,

  // example: gray default label
  OSLO_GRAY: #818a91,

  // example: yellow bot label
  TACHA: #cfc867

  // example: blue search button outline
  TRUE_BLUE: #0275d8,

  // example: red downvote
  VALENCIA: #d9534f,

  // example: gray standard text
  VULCAN: #373a3c,

  // example: horizontal line
  ZIRCON: #dfdfe1
}
